@page
@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="2;url=/Identity/Account/Login" />
    <title>Logged Out</title>
</head>
<body>
    <div style="text-align:center; margin-top:50px;">
        <h2>You are logged out.</h2>
        <p>Redirecting to <a href="/Identity/Account/Login">login page</a>...</p>
    </div>
</body>
</html>